<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include ../partials/head %>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <%- include ../partials/nav %>

    </nav>




    <div class="container">

      <% if (user) { %>
        <h2>Welcome: <%= user.name %></h2>
      <% } %>
      
      <h3>Your missions:</h3>

      <div class="card-div">
        <% missionData.forEach((x, index) => { %>
          <div class="mission-cards">
            <h4>Mission <%= index %>:</h4>
            <h5><%= x.objective %></h5>
            <ul>
              <li>Location: <%= x.location %></li>
              <li>Status: <%= x.completed %></li>
              <li>LntLng: <%= x.lat %> , <%= x.lng %></li>
            </ul>
          </div>

          <input type="hidden" class="coords" value="<%= x.lat %>,<%= x.lng %>">
        <% }) %>
      </div>

      <div id="map2"></div>

    </div>


    
    <script>

      var map;
      var center = {lat:30.668353, lng: -0.12750};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map2'), {
          center: center,
          zoom: 2,
          disableDefaultUI: true,
          draggable: false,
          zoomControl: false, 
          scrollwheel: false, 
          disableDoubleClickZoom: true
        });

      // test marker
      setMarkers(map);
      }

      var destin = [];
      function setMarkers(map) {

        $('.coords').each(function(el, val) {
          var coord = val.value.split(',');
          var x = +(coord[0]);
          var y = +(coord[1]);
          destin.push([x,y]);
        }); 
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
          url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          // This marker is 20 pixels wide by 32 pixels high.
          size: new google.maps.Size(20, 32),
          // The origin for this image is (0, 0).
          origin: new google.maps.Point(0, 0),
          // The anchor for this image is the base of the flagpole at (0, 32).
          anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };
        for (var i = 0; i < destin.length; i++) {
          var loc = destin[i];
          var marker = new google.maps.Marker({
            position: {lat: loc[0], lng: loc[1]},
            map: map,
            shape: shape,
          });
          // add click event to zoom in on marker
          google.maps.event.addListener(marker, 'click', function() {
            map.setCenter(this.getPosition());
            map.setZoom(9);
            // setTimeout to zoom out to world
            window.setTimeout(function() {
            map.setZoom(2);
            map.setCenter(center);
          }, 3000);
          });
        }    

      }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZwpThrbZbJVY1yt-oTlYePJ_s5I-GZIU&callback=initMap"
    async defer></script>

    <%- include ../partials/footer %>

  </body>
</html>