<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include ../partials/head %>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <%- include ../partials/nav %>

    </nav>

    <div class="container">

      <div class="details-container">
        <h2>Mission details: <%= missionData.mission_id %></h2>
        <h3>Agent: <%= user.name %></h3><br/>
        <p>Your mission is to go to <%= missionData.objective %>, located in <%= missionData.location %>.<br/><br/>
          Latitude: <%= missionData.lat %><br>
          Longitude: <%= missionData.lng %></p>

        <div class="missionStatus">
          <h3>Status: <%= missionData.completed %></h3>
        </div>

        <div>
          <form method="POST" action="/missions/<%= missionData.mission_id + '?_method=PUT' %>" class="detailForm">
            <input type="hidden" name="missionID" value="<%= missionData.mission_id %>">
            <input type="hidden" name="userID" value="<%= user.user_id %>">
            <button type="submit" class="btn btn-lg btn-primary detailBtn">Complete</button>
          </form>
        
          <form method="POST" action="/missions/<%= missionData.mission_id + '?_method=DELETE' %>" class="detailForm">
            <input type="hidden" name="missionID" value="<%= missionData.mission_id %>">
            <button type="submit" class="btn btn-lg btn-danger detailBtn">Delete</button>
          </form>
        </div>
      </div>

      <div id="map3"></div>

    </div>



    <input type="hidden" class="coords" value="<%= missionData.lat %>,<%= missionData.lng %>">
    <script>
      var map;
      function initMap() {
        var $pos = $('.coords').val().split(',');
        var x = +($pos[0]);
        var y = +($pos[1]);

        map = new google.maps.Map(document.getElementById('map3'), {
          center: {lat: x, lng: y},
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.SATELLITE
        });
        map.setTilt(45);

        var marker = new google.maps.Marker({
          position: {lat: x, lng: y},
          map: map,
          animation: google.maps.Animation.DROP
        });
        marker.addListener('click', toggleBounce);

        map.addListener('center_changed', function() {
          // 3 seconds after the center of the map has changed, pan back to the
          // marker.
          window.setTimeout(function() {
            map.panTo(marker.getPosition());
          }, 3000);
        });

        marker.addListener('click', function() {
          map.setZoom(18);
          map.setCenter(marker.getPosition());
        });
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.APIKEY %>&callback=initMap"
    async defer></script>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2016 GoMission.</p>
      </div>
    </footer>
    
    <%- include ../partials/footer %>

  </body>
</html>