<!DOCTYPE html>
<html lang="en">
  <head>
    
    <%- include ../partials/head %>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <%- include ../partials/nav %>

    </nav>

    <div class="container">

      <h2>Search for a user</h2>
      
      
        <% userData.forEach((x) => { %>
          <div class="user-card">
            -----------------------------------------------------------
            <h5>Username: <%= x.name %></h5>
            <h5>Completed Missions: <%= x.score %></h5>
            -----------------------------------------------------------
          </div>
        <% }) %>
      

      


    </div>



    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2016 GoMission.</p>
      </div>
    </footer>
    
    <%- include ../partials/footer %>

  </body>
</html>